@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: Alegreya Sans, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/decor/leafs&berries/composition.svg") left 78% center no-repeat, url("../img/decor/leafs/leafshadowblue.svg") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 650px;
  color: #fff;
  position: relative;
}
.hero::before {
  position: absolute;
  bottom: -40px;
  left: 2%;
  content: url("../img/decor/leafs/leaf3.svg");
}
.hero::after {
  position: absolute;
  bottom: -40px;
  right: 0;
  content: url("../img/decor/leafs/leaf1.svg");
}

.hero__title-section {
  max-width: 45%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 26px 0 84px;
}

.hero__main-title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 32px;
  padding-right: 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 28px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.phone-number__text {
  padding-right: 10px;
}

.features {
  display: flex;
  min-width: 50%;
}

.features__item {
  margin-right: 10px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: flex;
  margin-right: 46px;
}
.feature:last-child {
  margin-right: 0;
}

.feature__icon {
  width: 45px;
  margin-right: 8px;
}

.feature__text {
  font-size: 16px;
  max-width: 75px;
}

.btn {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;
  line-height: 1;
  padding: 21px 41px;
  border: none;
  transition: 0.2s;
}
.btn--theme--white {
  background: #fff;
  color: #365a49;
}
.btn--theme--white:hover {
  color: #fff;
  background: #365a49;
}
.btn--theme--green {
  background: #365a49;
  color: #fff;
}
.btn--theme--green:hover {
  color: #365a49;
  background: #fff;
}
.btn--theme--transparent {
  background: transparent;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-transform: none;
}
.btn--theme--transparent:hover {
  color: #365a49;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--font--color--green {
  color: #365a49;
}
.section--font--color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}

.headline {
  text-align: center;
  margin-bottom: 50px;
}

.headline__title {
  margin-bottom: 20px;
}

.headline__subtitle {
  padding: 0 26%;
}

.benefits {
  display: flex;
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item:before {
  content: url("../img/content/icons/separator.svg");
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 18px;
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 14px;
}

.benefits-section {
  position: relative;
  background: url("../img/decor/leafs/leafshadowgrey.svg") left 0 center no-repeat;
}
.benefits-section:before {
  content: url("../img/decor/berries/bars&berries.svg");
  position: absolute;
  bottom: -55px;
  left: 0;
}

.reviews__display {
  padding: 45px 40px 26px;
  background: #f8faf9 url("../img/decor/leafs&berries/shadowleafs&berries.svg") right top no-repeat;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.reviews__display:before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 264px;
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  padding: 25px 40px 30px;
}

.reviews__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 6px;
  color: black;
}

.reviews__text {
  max-width: 83%;
  margin-bottom: 40px;
}

.reviews__autor {
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.interactive-avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #0f5a47;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section {
  position: relative;
  background: url("../img/decor/berries/berrystrawberry.svg") right 5% top 20px no-repeat;
}
.reviews-section:after {
  content: url("../img/decor/berries/berriesreviews.svg");
  position: absolute;
  bottom: -80px;
  left: 0;
}
.reviews-section:before {
  content: url("../img/decor/leafs/shadowleafpeviews.svg");
  position: absolute;
  bottom: -150px;
  left: 0;
}

.order-section {
  background: url("../img/decor/berries/orderberry.svg") left 5% bottom 70px no-repeat, url("../img/decor/leafs/orderleaf.svg") right 1% bottom 60px no-repeat;
  background-color: #F8FAF9;
}

.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 10px;
}

.form__block {
  flex: 1;
  margin-right: 24px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  padding: 18px 11px;
  border-radius: 4px;
  border: solid 3px transparent;
}
.form__input--textarea {
  height: 160px;
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form__input--textarea {
  margin-bottom: 16px;
}

.form__btns {
  padding: 24px 0;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.radio--checkbox .radio__visible {
  border-radius: 4px;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/checkmark.svg") center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 14px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  background: #365a49;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}